.v-application {
  font-family: "Inter" !important;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 100%;
  line-height: 45px;
  z-index: 999;
  text-align: right !important;
  color: #41b883;
  font-size: 18px;
  padding-right: 16px;
}

.active {
  background: #41b883;
  color: white !important;
  border-radius: 4px;
}

.table-wrapper {
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid #DADADA;
}

.data-table {
  overflow: hidden;
  border-collapse: separate;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 14px !important;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    background: #41b883;
    height: 36px;
    text-align: center;
  }

  tbody {
    background-color: transparent;
    text-align: center;

    tr {
      height: 47px !important;
      border-bottom: 1px solid #D5D8DF;
    }
  }
}


.text-field-label,
.text-field-value {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.15px;
  font-weight: 800;
}

.text-field-value {
  font-size: 16px;
  color: #41b883;
}

.text-field {
  box-sizing: border-box;
  border-radius: 5px;
}

.text-field-outer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.15px;
  margin-right: 8px;
  margin-bottom: 24px;
}

.col-flex {
  display: flex;
  align-items: center;
}

.dialog-btn {
  text-transform: none !important;
  padding: 0px 24px !important;
}

.v-card {
  padding: 12px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chart-header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #41b883;
}

.section-div {
  margin: 24px 0px;
}

.btn-primary {
  height: 28px !important;
  border-radius: 6px;
  font-size: 13px !important;
  line-height: 22px;
  letter-spacing: 0.15px;
  font-weight: bold !important;
  box-shadow: none;
  text-transform: none !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  &:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    .v-ripple__container {
      display: none !important;
    }
  }
  &:focus {
    transition: 0.4s ease-in-out;
    .v-ripple__container {
      display: none !important;
    }
  }
}

.btn-primary {
    color: white !important;
    background: #41b883 !important;
    
    &:hover {
      background: rgba(65, 184, 131, 0.75) !important;
    }
    &:focus {
      background: #41b883 !important;
    }
}

.select-field .v-input__slot, .select-field {
    width: 300px !important;
    max-width: 300px !important;
}

.auth-field {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 2px 8px;
}
