.v-application {
  font-family: "Inter" !important;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 100%;
  line-height: 45px;
  z-index: 999;
  text-align: right !important;
  color: #41b883;
  font-size: 18px;
  padding-right: 16px;
}

.active {
  background: #41b883;
  color: white !important;
  border-radius: 4px;
}

.data-table {
  overflow: hidden;
  border-collapse: separate;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 14px !important;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    background: #41b883;
    height: 36px;
    text-align: center;
  }

  tbody {
    background-color: aliceblue;
    text-align: center;

    tr {
      height: 47px !important;
      border-bottom: 1px solid #D5D8DF;
    }
  }
}


.text-field-label, .text-field-value {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.15px;
  font-weight: 800;
}

.text-field-value {
  font-size: 16px;
  color: #41b883;
}

.text-field {
  box-sizing: border-box;
  border-radius: 5px;
}

.text-field-outer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.15px;
  margin-right: 8px;
  margin-bottom: 24px;
}

.col-flex {
  display: flex;
  align-items: center;
}

.dialog-btn {
  text-transform: none !important;
  padding: 0px 24px !important;
}

.v-card {
  padding: 12px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}